.contact__us {
	margin: 1em;
}
.contact__us__title,
.send__message h3 {
	margin: 1em 0;
}
.contact__us__descriptions {
	color: #5b5b5b;
	margin: 1em 0;
}

.map img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	margin: 0 auto;
}
.our__address {
	margin: 1em;
	border-bottom: 1px solid #647d03;
}
.our__address a {
	text-decoration: none;
	display: block;
	color: #5b5b5b;
	margin: 1em 0;
}
.send__message {
	margin: 1em 0.5em;
}

.form__group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1em 0;
}

.btn__send {
	width: 100%;
	background-color: #698303;
	padding: 1em;
	border: none;
}
.btn__send:hover {
	background-color: #aaaaaa;
}
.input {
	padding: 10px 0;
	font-size: 16px;
	border-width: 1px;
	border-color: #647d03;
	background-color: #f1f4f5;
	border-style: solid;
	border-radius: 0px;
}
.input:focus {
	outline: #698303;
}

.required:after {
	content: '*';
	color: red;
}
@media only screen and (min-width: 420px) {
	.main__content__wrapper {
		width: 90%;
		margin: auto;
		display: flex;
		gap: 20px;
	}
	.recent__post__title {
		margin-right: 10em;
	}
	.primary__section,
	.second__section,
	.recent__posts {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.social__icons_container {
		display: flex;
		width: 100%;
	}
}
