.contact__us {
	margin: 1em;
}

.contact__us__title,
.send__message h3 {
	margin: 1em 0;
}

.contact__us__descriptions {
	color: #5b5b5b;
	margin: 1em 0;
}

.map img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	margin: 0 auto;
}

.our__address {
	margin: 1em;
	border-bottom: 1px solid #647d03;
}

.our__address a {
	text-decoration: none;
	display: block;
	color: #5b5b5b;
	margin: 1em 0;
}

fieldset {
	padding: 1em;
}

.send__message {
	margin: 1em 0.5em;
}

.form__group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1em 0;
}

.btn__send {
	width: 100%;
	background-color: #698303;
	padding: 1em;
	border: none;
}

.btn__send:hover {
	background-color: #aaaaaa;
}

.input {
	padding: 10px 0;
	border: 1px solid #647d03;
	background-color: #f1f4f5;
	border-radius: 5px;
}

.input:focus {
	outline: 1px solid #698303;
}

.required:after {
	content: '*';
	color: red;
}

@media only screen and (min-width: 490px) {
	.main__content__wrapper {
		width: 60%;
	}

	.recent__post__content a {
		font-size: 20px;
	}

	.special__offer__description {
		padding: 0 1em;
	}
}