.price__banner {
	background-image: url(../images/cabecera_interna.jpg);
	background-repeat: no-repeat;
	height: 250px;
	background-position: center right;
	background-attachment: fixed;
	background-size: 2800px 700px;
	background-blend-mode: multiply;
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
}
.banner__text__price {
	text-align: left;
	position: absolute;
	top: 30%;
	left: 5%;
	color: #ffffff;
	font-family: 'Orbitron', sans-serif;
	font-size: 2.5em;
}
