
/*●	#5a7001; dark gree
●	#698303; dark gree 
●	#647d03; dark gree 
●	#85a701; middle gree from top of table
●	#a1c905; lighter
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1140px;
    margin: 0 auto;
    font-size: 18px;
    background-color:aquamarine ;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    background-color:rgb(250, 250, 250);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    position:sticky;
    top: 0;
    
}
nav{
    width: 100%;
  
}
main{
    margin-top:px;
}
.nav__toggle{
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 0;
}
.nav__checkbox{
    display: none;
}
.fa-times{
    display: none;
}

.nav__menu__right{
    /* padding: 1rem; */
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.nav__menu__right a{
    text-decoration: none;
}
.nav__menu__right li{
    list-style: none;
    display: none;
    padding: 0.5rem;
}

/* Nav menu left */
.nav__menu__left{
    display:flex;
    align-items:center;
}
.nav__menu__left a{
    text-decoration: none;
}
.nav__menu__left li{
    list-style: none;
    padding: 0.5rem;
  
}
.nav__menu__left li a{
    font-family: 'Orbitron', sans-serif;

}

.nav__menu__left li img{
    max-width: 40px;
}

#nav-checkbox:checked ~ ul.nav__menu__right li{
    display: block;
}
#nav-checkbox:checked ~ label.nav__toggle .fa-times{
    display: block;
}
#nav-checkbox:checked ~ label.nav__toggle .fa-bars{
    display: none;
}
.banner{
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../images/cabecera_inicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position:70% 90%; */
    background-position:top center;
    background-attachment: fixed;
    height:35rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.banner>h2{
    padding:0.5rem 1.5rem;
    line-height: 1.5;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
}
.banner>p{
    padding: 0rem .5rem;
    text-align: center;
    color:#85a701 ;
    font-weight: 700;
    line-height: 1.5;
    font-size:1.2rem;
    /* letter-spacing: 1.5px; */
}
@media only screen and (min-width: 560px){
    nav{
        display:flex;
        justify-content:space-around;
    }
    .nav__toggle{
        display: none;
    }
    
    .nav__menu__right {
        flex-direction: row;
        justify-content:space-around;
        align-items:center;
    }
    .nav__menu__right li:nth-child(2){
        margin-right: auto;
        padding: 10px;
    }
    .nav__menu__right li{
        display: block;
    }
    /* Banner */

    .banner{
        background-attachment:inherit;
        background-position:100% 5%;
         height: 20.5rem;
    }
    .banner>p{
        font-size:14px;
    }
}