/*●	#5a7001; dark gree
●	#698303; dark gree 
●	#647d03; dark gree 
●	#85a701; middle gree from top of table
●	#a1c905; lighter
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	max-width: 1140px;
	margin: 0 auto;
	font-size: 18px;
	/* background-color:aquamarine ; */
	font-family: 'Roboto', sans-serif;
}
/* HEADER */
header {
	width: 100%;
	background-color: rgb(250, 250, 250);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	max-width: 1140px;
}
nav {
	width: 100%;
}

.nav__toggle {
	position: absolute;
	cursor: pointer;
	margin: 0rem 1rem;
	right: 0;
}
.nav__checkbox {
	display: none;
}
.fa-times {
	display: none;
}

.nav__menu__right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 0.5rem;
}

.nav__menu__right a {
	background-color: #fff;
	cursor: pointer;
	text-decoration: none;
	color: #647e03;
	font-weight: 900;
	transition: all 0.3s 0s ease-in-out;
}
.nav__menu__right a:hover {
	color: #fff;
	font-weight: 900;
	background-color: #647e03;
	padding: 1.5rem 11rem;
}
.nav__menu__right a.active {
	background-color: #647e03;
	color: #fff;
	padding: 1.5rem 11rem;
}

.nav__menu__right li {
	list-style: none;
	display: none;
	padding: 1.5rem;
	margin: 5px;
}

/* Nav menu left */
.nav__menu__left {
	display: flex;
	align-items: center;
}
.nav__menu__left a {
	text-decoration: none;
	color: #647e03;
	font-weight: bold;
	font-size: 1rem;
}
.nav__menu__left li {
	list-style: none;
	padding: 0.5rem;
}
.nav__menu__left li a {
	font-family: 'Orbitron', sans-serif;
}

.nav__menu__left li img {
	max-width: 40px;
}

#nav-checkbox:checked ~ ul.nav__menu__right li {
	display: block;
}
#nav-checkbox:checked ~ label.nav__toggle .fa-times {
	display: block;
}
#nav-checkbox:checked ~ label.nav__toggle .fa-bars {
	display: none;
}
/* HEADER END */

main {
	width: 100%;
	margin-top: 60px;
}
/* BANNER  */
.banner {
	background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
		url(../images/cabecera_inicio.jpg);
	background-size: cover;
	background-position:70% 100%;
	background-repeat: no-repeat;
	position: relative;
	background-attachment: fixed;
	height: 680px;
	z-index: -1;
}
.banner__text {
	padding: 9.5rem 0.5rem 1.5rem 1.5rem;
	line-height: 1.5;
	font-size: 2.2rem;
	font-weight: bold;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	color: #fff;
}
.banner__description {
	padding: 0rem 0.5rem;
	text-align: center;
	color: #85a701;
	font-weight: 700;
	line-height: 1.5;
	font-size: 1.2rem;
}
/* BANNER END  */

/* SATFF SECTION */
.team__heading {
	padding: 2.5rem;
}
.team__title {
	text-align: center;
	padding: 1.5rem;
}
.team__description {
	text-align: center;
	line-height: 1.5;
}

.card__container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
}
.staff__team__card {
	display: flex;
	flex-direction: column;
	justify-content:center;
	width: 250px;
	margin: 2.5rem;
	flex-wrap: wrap;
}
.staff__img__container {
	width: 250px;
	height: 250px;
	position: relative;
	z-index: -1;
}
.staff__img__container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.staff__position {
	position: absolute;
	background-color: #ffffff;
	bottom: 0;
	right: 0;
	padding: 0.2rem;
	color: #5b5b5b;
}

.staff__name {
	text-align: center;
	padding: 0.5rem 0rem;
	font-weight: 700;
}
.staff__graduated__from {
	color: #5b5b5b;
}
/* STAFF SECTION END HERE */
/* CUSTOMER TESTIMONIAL START HERE*/
.customer__testomonials__section {
    padding: 5.5rem 0rem;
    background-color: #f1f4f5;
}
.customer__testomonials__section__title{
    margin-left: 1rem;
}
.customer__testomonials__container{
    margin: 2rem 2.1rem;
    padding: 1.5rem 1rem;
   background-color: #ededed;
   border-left: 10px solid #647d03;
}
.customer__testomonial{
    display: flex;
    color: #647d03;
}
.fa-quote-left{
    margin-right:.9rem;
    font-style: italic;
    font-size: 1.5rem;
}
.customer__name{
    text-align:right;
    color: #647d03;
    font-weight: bold;
    margin-top: 1.5rem;
}
/* CUSTOMER TESTIMONIAL END HERE*/

/* BLOG POST START HERE*/
.recent__post__section__title{
    font-size:36px;
    color: #fff
}

.recent__posts__section{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/fondo_inicio.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:52% ;
	background-attachment: fixed;
    padding-top: 35px;
    height:700px;

}
.recent__post__section__title{
	text-align: center;
}
.recent__articles__subtitle{
	background-color: #fff;
	text-align: center;
	opacity: .6;
	padding:1rem 2.5rem;
	width: 95%;
	margin: 1rem auto;
}

.article__img img{
	width: 100px;
	border-radius: 50%;
	border: 3px solid #Fff;
}
.article__card{
	display:flex;
	color:#Fff;
	gap: .8rem;
	align-items: center;
	justify-content: center;
	margin: 2.5rem 1rem;
}

.article__content a{
	display:inline-block;
	padding: .5rem;
	color:#a1c905 ;
	text-decoration: none;
	transition:all 0.3s ease-in-out;
}
.article__content a:hover{
	color:#ffffff;
  text-decoration:underline;

}
/* ARTICLE SECTION ENDS HERE */
/* FOOTER START HERE*/
footer{
	height: 200px;
	background-color: #5a7001;
	padding: 2rem;
}
.footer__links{
	display: flex;
	gap: .5rem;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	
}
.footer__links li{
	list-style: none;
	margin: 0.5rem 1rem;

}
.footer__links a {
	text-decoration: none;
	color: #000000;
	transition:all 0.3s ease-in-out;
}
.footer__links a:hover{
	text-decoration: underline;
	color: #ffffff;
}
footer p{
	text-align: center;
	color: #Fff;
}
/* FOR DESKTOP */
@media only screen and (min-width: 560px) {
	nav {
		display: flex;
		justify-content: space-around;
	}
	.nav__toggle {
		display: none;
	}

	.nav__menu__right {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	.nav__menu__right a:hover {
		color: #fff;
		font-weight: 900;
		background-color: #647e03;
		padding: 0.8rem 1rem;
	}
	.nav__menu__right a.active {
		background-color: #647e03;
		color: #fff;
		padding: 0.8rem 1rem;
	}
	.nav__menu__right li:nth-child(2) {
		margin-right: auto;
		padding: 10px;
	}
	.nav__menu__right li {
		display: block;
		padding: 0rem;
	}
	/* Banner */

	.banner {
		background-position: 100% 5%;
		height: 24.5rem;
	}
	.banner__text {
		padding-top: 10rem;
		padding-bottom: 0.5rem;
	}
	.banner > p {
		font-size: 0.9rem;
	}
	.staff__team__card {
		width: 200px;
	}
	.staff__img__container {
		width: 200px;
		height: 200px;
	}

	.card__container {
		flex-direction: row;
	}
    .customer__testomonials__container{
        margin:5rem  8rem;
    }
    .customer__testomonials__section__title{
        margin-left: 4rem;
    }
	.recent__posts__section{
		background-position: 45% -55%;
		height: 20.5rem;
	}
	.recent__articles__subtitle{
		width: 80%;
	}
	.recent__articles{
		display: flex;
		flex-direction: row;
		width: 80%;
		margin:0 auto; 
	
	}
	.article__card{
		margin: 1rem .5rem;
	}
	.article__img img{
		width: 70px;
		border-radius: 50%;
		border: 3px solid white;
	}
}
