
/*●	#5a7001; dark gree
●	#698303; dark gree 
●	#647d03; dark gree 
●	#85a701; middle gree from top of table
●	#a1c905; lighter
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    max-width: 1140px;
    margin: 0 auto;
    font-size: 18px;
    /* background-color:aquamarine ; */
    font-family: 'Roboto', sans-serif;
}
/* HEADER */
header{
    width: 100%;
    background-color:rgb(250, 250, 250);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    position:sticky;
    top: 0;
    
}
nav{
    width: 100%;
  
}

.nav__toggle{
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 0;
}
.nav__checkbox{
    display: none;
}
.fa-times{
    display: none;
}

.nav__menu__right{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align:center;
    gap: .5rem;
   
}

.nav__menu__right a{
    background-color: #fff;
    cursor: pointer;
    text-decoration: none;
    color: #647e03;
    font-weight: 900;
    transition: all 0.3s 0s ease-in-out;
}
.nav__menu__right a:hover{
    color: #fff;
    font-weight: 900;
    background-color:#647e03;
    padding: 1.5rem 11rem;
}
.nav__menu__right a.active{
    background-color:#647e03;
    color: #fff;
    padding: 1.5rem 11rem;
}

.nav__menu__right li{
    list-style: none;
    display: none;
    padding: 1.5rem;
    margin: 5px;
}

/* Nav menu left */
.nav__menu__left{
    display:flex;
    align-items:center;
}
.nav__menu__left a{
    text-decoration: none;
    color: #647e03;
    font-weight: bold;
    font-size: 1rem;
  
}
.nav__menu__left li{
    list-style: none;
    padding: 0.5rem;
  
}
.nav__menu__left li a{
    font-family: 'Orbitron', sans-serif;

}

.nav__menu__left li img{
    max-width: 40px;
}

#nav-checkbox:checked ~ ul.nav__menu__right li{
    display: block;
}
#nav-checkbox:checked ~ label.nav__toggle .fa-times{
    display: block;
}
#nav-checkbox:checked ~ label.nav__toggle .fa-bars{
    display: none;
}
/* HEADER END */
/* BANNER  */
.banner{
    background: linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),url(../images/cabecera_inicio.jpg);
    background-size: cover;
    background-position:70% 80%;
   background-repeat: no-repeat;
   position: relative;
    height: 600px;
    z-index: -1;
}
.banner__text{
    padding:9.5rem 0.5rem 1.5rem 1.5rem;
    line-height: 1.5;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
}
.banner__description{
    padding: 0rem .5rem;
    text-align: center;
    color:#85a701 ;
    font-weight: 700;
    line-height: 1.5;
    font-size:1.2rem;
}
/* BANNER END  */

/* SATFF SECTION */

.staff__team__card,.staff_info{
    margin: 1.8rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.staff_info >h2{
    padding: 1.5rem;
}
.staff_info >p{
    line-height: 1.5;
    text-align: center;
    margin-top: .5rem;
}
.staff__img{
    padding-bottom: .5rem;
    width: 300px;
    height: 300px;
    position: relative;
}
.staff__img img{
    width: 100%;
    height: 100%;
    object-fit:cover;
   
}
.staff__img span{
    position: absolute;
   right: 0;
   top: 85%;
   /* color:#; */
   padding: 10px;
    background:#fff;
}
.card__body{
    display:flex;
    flex-direction: column;
}
.staff__name{
    padding-bottom: 1rem;
    justify-self: center;
    align-self: center;
    font-weight: 700;
}
/* FOR DESKTOP */
@media only screen and (min-width: 560px){
    nav{
        display:flex;
        justify-content:space-around;
    }
    .nav__toggle{
        display: none;
    }
    
    .nav__menu__right {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items:center;
    }
    .nav__menu__right a:hover{
        color: #fff;
        font-weight: 900;
        background-color:#647e03;
        padding: .8rem 1rem;
    }
    .nav__menu__right a.active{
        background-color:#647e03;
        color: #fff;
        padding: .8rem 1rem;
    }
    .nav__menu__right li:nth-child(2){
        margin-right: auto;
        padding: 10px;
    }
    .nav__menu__right li{
        display: block;
        padding: 0rem;
    }
    /* Banner */

    .banner{
        background-attachment:inherit;
        background-position:100% 5%;
         height: 20.5rem;
    }
    .banner__text{
        padding-top:7rem;
        padding-bottom:0.5rem;
    }
    .banner>p{
        font-size:.9rem;
    }
}