/*●	#5a7001; dark gree
●	#698303; dark gree 
●	#647d03; dark gree 
●	#85a701; middle gree from top of table
●	#a1c905; lighter
	
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

/* HEADER */
header {
	width: 100%;
	background-color: #fff;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	z-index: 1000;
}

nav {
	width: 100%;
}

.nav__toggle {
	position: absolute;
	cursor: pointer;
	margin: 1rem 0.5rem;
	right: 0;
}

.nav__checkbox {
	display: none;
}

.fa-times {
	display: none;
}

.nav__menu__right {
	text-align: center;
}

.nav__menu__right a {
	padding: 1rem 1rem;
	margin: 5px 0px;
	display: block;
	background-color: #ffffff;
	cursor: pointer;
	text-decoration: none;
	color: #647e03;
	font-weight: 900;
	transition: all 0.3s 0s ease-in-out;
}

.nav__menu__right a:hover {
	color: #ffffff;
	font-weight: 900;
	background-color: #647e03;
}

.nav__menu__right a.active {
	background-color: #647e03;
	color: #ffffff;
}

.nav__menu__right li {
	list-style: none;
	display: none;
}

/* Nav menu left */
.nav__menu__left {
	display: flex;
	align-items: center;
}

.nav__menu__left a {
	text-decoration: none;
	color: #647e03;
	font-weight: bold;
	font-size: 1rem;
}

.nav__menu__left li {
	list-style: none;
	padding: 0.5rem;
}

.nav__menu__left li a {
	font-family: 'Orbitron', sans-serif;
}

.nav__menu__left li img {
	max-width: 40px;
}

#nav-checkbox:checked ~ ul.nav__menu__right li {
	display: block;
}

#nav-checkbox:checked ~ label.nav__toggle .fa-times {
	display: block;
}

#nav-checkbox:checked ~ label.nav__toggle .fa-bars {
	display: none;
}

/* HEADER END */

main {
	width: 100%;
	margin-top: 60px;
}

/* BANNER  */
.home__banner {
	background-image: url(../images/cabecera_inicio.jpg);
	background-position: 70% 40%;
	position: relative;
	background-repeat: no-repeat;
	height: 685px;
	z-index: -1;
	background-blend-mode: multiply;
	background-color: rgba(0, 0, 0, 0.5);
}

.overlay__container {
	text-align: center;
	position: absolute;
	top: 30%;
}

.banner__title {
	line-height: 1.5;
	font-size: 36px;
	font-weight: 900;
	font-family: 'Orbitron', sans-serif;
	color: #ffffff;
}

.banner__description {
	color: #85a701;
	font-weight: 900;
	line-height: 1.5;
	margin-top: 1rem;
}

/* BANNER END  */

/* SATFF SECTION */
.team__heading {
	padding: 2.5rem;
}

.team__title {
	text-align: center;
	padding: 1.5rem;
}

.team__description {
	text-align: center;
	line-height: 1.5;
}

.card__container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
}

.staff__team__card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 250px;
	margin: 2.5rem;
	flex-wrap: wrap;
}

.staff__img__container {
	width: 250px;
	height: 250px;
	position: relative;
	z-index: -1;
}

.staff__img__container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.staff__position {
	position: absolute;
	background-color: #ffffff;
	bottom: 0;
	right: 0;
	padding: 0.2rem;
	color: #5b5b5b;
}

.staff__name {
	text-align: center;
	padding: 0.5rem 0rem;
	font-weight: 700;
}

.staff__graduated__from {
	color: #5b5b5b;
}

/* STAFF SECTION END HERE */
/* CUSTOMER TESTIMONIAL START HERE*/
.customer__testomonials__section {
	padding: 5.5rem 0rem;
	background-color: #f1f4f5;
}

.customer__testomonials__section__title {
	margin-left: 1rem;
}

.customer__testomonials__container {
	margin: 2rem 2.1rem;
	padding: 1.5rem 1rem;
	background-color: #ededed;
	border-left: 10px solid #647d03;
}

.customer__testomonial {
	display: flex;
	color: #647d03;
}

.fa-quote-left {
	margin-right: 0.9rem;
	font-style: italic;
	font-size: 1.5rem;
}

.customer__name {
	text-align: right;
	color: #647d03;
	font-weight: bold;
	margin-top: 1.5rem;
}

/* CUSTOMER TESTIMONIAL END HERE*/

/* BLOG POST START HERE*/
.recent__posts__section {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../images/fondo_inicio.jpg);
	background-repeat: repeat;
	background-size: auto 450px;
	background-position: bottom center;
	height: 650px;
}

.recent__post__section__title {
	padding-top: 25px;
	font-size: 36px;
	color: #ffffff;
	text-align: center;
}

.recent__post__description {
	background-color: #ffffff;
	text-align: center;
	opacity: 0.6;
	padding: 1em;
	width: 95%;
	margin: 1em auto;
}

.post__img img {
	width: 100px;
	border-radius: 50%;
	border: 3px solid #ffffff;
}

.post__card {
	display: flex;
	color: #ffffff;
	gap: 0.8em;
	align-items: center;
	justify-content: center;
	margin: 2em 1em;
}

.post__content a {
	display: block;
	color: #a1c905;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	font-size: 21px;
}

.post__content a:hover {
	color: #ffffff;
	text-decoration: underline;
}

/* ARTICLE SECTION ENDS HERE */
/* FOOTER START HERE*/
footer {
	height: 200px;
	background-color: #85a701;
	padding: 2em;
}

.footer__links {
	display: flex;
	gap: 0.5em;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.footer__links li {
	list-style: none;
	margin: 0.5em 1em;
}

.footer__links a {
	text-decoration: none;
	color: #000000;
	transition: all 0.3s ease-in-out;
}

.footer__links a:hover {
	text-decoration: underline;
	color: #ffffff;
}

footer p {
	text-align: center;
	color: #ffffff;
}

/* FOR DESKTOP */
@media only screen and (min-width: 390px) {
	nav {
		display: flex;
		justify-content: space-around;
	}

	.nav__toggle {
		display: none;
	}

	.nav__menu__right {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 0.5em;
	}

	.nav__menu__right a:hover {
		color: #ffffff;
		font-weight: 900;
		background-color: #647e03;
		padding: 0.8em 1em;
	}

	.nav__menu__right a.active {
		background-color: #647e03;
		color: #ffffff;
		padding: 0.8em 1em;
	}

	.nav__menu__right li {
		display: block;
	}

	/* Banner */

	.home__banner {
		height: 350px;
		background-size: cover;
		background-position: 100% 0%;
	}

	.overlay__container {
		position: relative;
	}

	.staff__team__card {
		width: 200px;
	}

	.staff__img__container {
		width: 200px;
		height: 200px;
	}

	.card__container {
		flex-direction: row;
	}

	.customer__testomonials__container {
		margin: 5em 8em;
	}

	.customer__testomonials__section__title {
		margin-left: 4em;
	}

	.recent__posts__section {
		background-size: 100% 550px;
		background-repeat: no-repeat;
		background-position: 0 bottom;
		height: 300px;
	}

	.recent__post__description {
		width: 80%;
	}

	.recent__posts {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.post__card {
		width: 250px;
	}

	.post__content a,
	p {
		font-size: 15px;
		margin-bottom: 5px;
	}

	.post__img img {
		width: 70px;
		border-radius: 50%;
		border: 3px solid #ffffff;
	}

	.footer__links {
		margin-top: 2.5em;
	}
}
